<header>
<div id="navbar">
   <ul>
    <li><a href="#">豆瓣</a></li>
    <li><a href="#">读书</a></li>
    <li><a href="#">电影</a></li>
    <li><a href="#">音乐</a></li>
    <li><a href="#">同城</a></li>
    <li><a href="#">小组</a></li>
    <li><a href="#">阅读</a></li>
    <li><a href="#">FM</a></li>
    <li><a href="#">时间</a></li>
    <li><a href="#">豆品</a></li>
    <li><a href="#">更多</a></li>
    <li><a href="#">下载豆瓣客户端</a></li>
    <li><a href="#">登陆/注册</a></li>
   </ul>
    
       
    
</div>


<div id="nav-search">
        <div class="nav-search-con">
          <div class="logo">
            <a href="#">豆瓣电影</a>
          </div>
          <div class="form-input-wrap">
                    <form action="" method="get"  class="input-kw-form">
                        <input type="search" class="input-kw" autocomplete="off" name="search-text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" >
                        <input type="submit" value="搜索" class="input-button"/>
                    </form>
           </div>
        </div>
        
</div>

<div id="nav-link">
        <div class="nav-link-con">
            <ul>
              <li><a href="/film">影讯&购票</a></li>
              <li><a href="/movie">选电影</a></li>
              <li><a href="/tv">电视剧</a></li>
              <li><a href="#">排行榜</a></li>
              <li><a href="#">分类</a></li>
              <li><a href="#">影评</a></li>
              <li><a href="#">2018年度榜单</a></li>
              <li><a href="#">2018观影报告</a></li>
            </ul>
        </div>
</div>

</header>

