<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initilal-scale=1">
<title>电影</title>
<link rel="stylesheet"  href="css/purchase.css" type="text/css"/>
<link rel="stylesheet"  href="css/common.css" type="text/css"/>
</head>
<body>
{{include './component/header.html'}}

<div id="center-body">
        <div class="main-con">
                <div class="content">
                <p>正在离开豆瓣，前往</p>
                <span>猫眼电影</span>
                <p>自动跳转中{{time}}s</p>
                <input type="button" value="点击跳转" class="btn"/>
                <p>购票后可在猫眼电影中查询订单情况。<br/>如有你问，可见</p>
                <a href="#">帮助与反馈</a>
               </div>
            </div>
        </div>





{{include './component/footer.html'}}
</body>
</html>