.content {margin:0 auto;text-align: center;margin-bottom:10rem;}
.content span{font-size:1.2rem;font-weight: bold;line-height:4rem;}
.content p{color:#999;line-height:2rem;}

.content p:last-of-type{margin-top:5rem;}
.content a{color:green;display: inline;}


.content .btn{cursor: pointer;border-style: none;border-radius:2px; margin-top:0.2rem;width:160px;height:30px;color: #fff;background-color: #FF5A44;border-color: #FF5A44;font-size:1.2rem;}

